/*
|   ---------------------------------------------------------------------------------
|   @Layouts (section)
|   ---------------------------------------------------------------------------------
|   
|   In this folder you create all layouts (one file per layout) that you will use for your pages 
|   like containers, boxes, sections, etc...
|
*/



.section{
    display: flex;
    background-color: rgb(243, 243, 243);
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    padding: 2rem;
    margin-top: 4rem;
   
}
    @media screen and (min-width: 200px) and (max-width:730px) {
        .section{
            width: 90%;
        }
    }

.section--dark{
    background-color: #2b2b2b;
    color: white;
} 

.section--dark .section__list .section__list-item a{
    color: white;
}

.section:first-of-type{
    margin-top: 0rem;
}

.section__header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
}

.section__body{
    display: flex;
    font-family: NunitoLight;
    line-height: 2rem;
    padding: 1rem 0 1rem 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: justify;

}

h1, h2{
    font-family: NunitoMedium;
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    text-align: center;
}

h3{
    font-family: NunitoLight;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    text-align: center;
    margin-top: 1rem;
}

h4{
    font-family: NunitoLight;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    text-align: center;
    margin-top: 1rem;
}

.section__footer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.section__footer a{
    width: fit-content;
}


.section__link-button{
    font-family: NunitoMedium;
    color: rgb(0, 0, 0);
    transition: 400ms;
    text-decoration: none;
    border: 1px solid black;
    width: 10rem;
    padding: 0.5rem;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
}

.section__link-button:hover{
    background-color: black;
    color: white;
}

.section--dark .section__link-button{
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);

}

.section--dark .section__link-button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.section__link{
    font-family: NunitoMedium;
    color: rgb(0, 0, 0);
    transition: 400ms;
    text-decoration: none;
}

.section__link:hover{
    text-decoration: underline;
}

.section--dark .section__link{
    font-family: NunitoMedium;
    color: white;
    transition: 400ms;
    text-decoration: none;
}

.section--dark .section__link:hover{
    text-decoration: underline;
}

.section__image{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 4rem;
    text-align: center;
}

.section__image--row{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.section__image--1mg{
    margin-top: 1rem;
}

.section__image:first-of-type{
    margin-top: 1rem;
}

.section__image img{
    width: 100%;
    object-fit: contain;
}

.section__image--row img{
    width: 25%;
}

.section__list-item{
    list-style-type: none;
}


.section__list{
    margin-top: 1rem;
}

.section__list-item a{
    font-family: NunitoMedium;
    color: rgb(0, 0, 0);
    transition: 400ms;
    text-decoration: none;
}