/*
|   ---------------------------------------------------------------------------------
|   @Layouts (Button)
|   ---------------------------------------------------------------------------------
|   
|   In this folder you create all layouts (one file per layout) that you will use for your pages 
|   like containers, boxes, sections, etc...
|
*/


.button-switch{
    position: fixed;
    height: 5rem;
    width: 5rem;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
    top: 1rem;
    right: 2rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.37);
    border: none;
    transition: all 0.3s ease 0s;
    outline: none;
    font-size: 2rem;
    cursor: pointer;

}

.button-switch--dark{
    background-color: #2b2b2b;
    box-shadow: 0px 8px 15px rgba(255, 255, 255, 0.37);

}